<html>
<body>
<h3>Hi ${user.email}, welcome to MyOwnVenture.com!</h3>

<div>
    To activate your account click the following link:
    <a href="http://www.myownventure.com/base/activation?mail=${user.email}&code=${securityCode.code}">MyOwnVenture activation</a>.
</div>
</body>

</html>